<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="card p-5 shadow-sm rounded" style="width: 40rem">
    <div class="d-flex mb-4 gap-2 justify-content-center">
      <button mat-fab extended matTooltip="ctrl + z" (click)="undo()" [disabled]="!canUndo()">
        <mat-icon>undo</mat-icon>
        Undo
      </button>
      <button mat-fab extended matTooltip="ctrl + y" color="primary" (click)="redo()" [disabled]="!canRedo()">
        <mat-icon>redo</mat-icon>
        Redo
      </button>
    </div>
    <form [formGroup]="form">
      <div class="d-flex flex-column gap-4">
        <div class="d-flex gap-4 align-items-center">
          <mat-label class="text-end col-4" style="font-size: 1.1rem">First Name</mat-label>
          <div class="d-flex flex-column full-width-input">
            <mat-form-field>
              <input matInput type="text" placeholder="John" formControlName="firstName" />
            </mat-form-field>
            <mat-error *ngIf="form.get('firstName')?.hasError('required') && form.get('firstName')?.touched">
              First Name is required.
            </mat-error>
          </div>
        </div>

        <div class="d-flex gap-4 align-items-center">
          <mat-label class="text-end col-4" style="font-size: 1.1rem">Last Name</mat-label>
          <div class="d-flex flex-column full-width-input">
            <mat-form-field>
              <input matInput type="text" placeholder="Smith" formControlName="lastName" />
            </mat-form-field>
            <mat-error *ngIf="form.get('lastName')?.hasError('required') && form.get('lastName')?.touched">
              Last Name is required.
            </mat-error>
          </div>
        </div>

        <div class="d-flex gap-4 align-items-center">
          <mat-label class="text-end col-4" style="font-size: 1.1rem">Email</mat-label>
          <div class="d-flex flex-column full-width-input">
            <mat-form-field>
              <input matInput type="text" placeholder="placeholder@email.com" formControlName="email" />
            </mat-form-field>
            <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
              Email is required.
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
              Email is not valid.
            </mat-error>
          </div>
        </div>

        <div class="d-flex gap-4 align-items-center">
          <mat-label class="text-end col-4" style="font-size: 1.1rem">Gender</mat-label>
          <mat-radio-group class="d-flex flex-wrap" formControlName="gender">
            <mat-radio-button *ngFor="let gender of genders" [value]="gender.key">
              {{ gender.name }}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="d-flex gap-4">
          <mat-label class="text-end col-4" style="font-size: 1.1rem">City</mat-label>

          <div class="d-flex flex-column full-width-input">
            <mat-form-field>
              <mat-select formControlName="city" placeholder="Select a City">
                <mat-option *ngFor="let city of cities" [value]="city.key">
                  {{ city.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('city')?.hasError('required') && form.get('city')?.touched">
                City is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex gap-4 align-items-center">
          <mat-label class="text-end col-4" style="font-size: 1.1rem">Phone Number</mat-label>

          <!-- Container for both the country code and phone number fields -->
          <div class="d-flex flex-column" style="overflow: auto">
            <div class="d-flex gap-2" style="overflow: auto">
              <mat-form-field class="flex:0.7">
                <mat-select formControlName="countryCode" placeholder="Code">
                  <mat-option *ngFor="let code of countryCodes" [value]="code.key">
                    {{ code.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="1234567890" formControlName="phoneNumber" />
              </mat-form-field>
            </div>
            <mat-error *ngIf="form.get('countryCode')?.hasError('required') && form.get('countryCode')?.touched">
              Country code is required.
            </mat-error>
            <mat-error *ngIf="form.get('phoneNumber')?.hasError('required') && form.get('phoneNumber')?.touched">
              Phone number is required.
            </mat-error>
            <mat-error *ngIf="form.get('phoneNumber')?.hasError('pattern') && form.get('phoneNumber')?.touched">
              Invalid phone number.
            </mat-error>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button
            mat-fab
            color="primary"
            extended
            type="submit"
            class="w-50"
            (click)="openSubmitDialog()"
            [disabled]="form.invalid"
          >
            <mat-icon>send</mat-icon>
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
